html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --tw-gradient-from: #111827;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgb(17 24 39/0));
  --tw-gradient-to: #000;
  --tw-text-opacity: 1;
  --color: rgb(245 245 245/var(--tw-text-opacity));
}

html {
  background: var(--tw-gradient-from);
  color: var(--color);
  font-size: 0.9rem;
}

body {
  background: linear-gradient(to top,var(--tw-gradient-stops)) !important;
}

p {
  font-size: 1.125rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-family: "Public Sans";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

footer {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: .7;

  font-family: 'Public Sans';
}

footer h6 {
  font-weight: 600;
  font-size: 1rem;
}

footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

* {
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf');
  font-weight: 1 999;
  font-style: italic;
}

@font-face {
  font-family: "DM Serif";
  src: url('../public/fonts/DM_Serif/DMSerifText-Regular.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "DM Serif";
  src: url('../public/fonts/DM_Serif/DMSerifText-Italic.ttf');
  font-weight: 1 999;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url('../public/fonts/DM_Sans/DMSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url('../public/fonts/DM_Sans/DMSans-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "DM Sans";
  src: url('../public/fonts/DM_Sans/DMSans-Bold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Holimount";
  src: url('../public/fonts/Holimount/Holimount.otf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Holimount Swash";
  src: url('../public/fonts/Holimount/Holimount\ swash.otf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Roboto";
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Sans";
  src: url('../public/fonts/ColfaxAI/ColfaxAIRegular.woff2');
  font-weight: 400;
}


@font-face {
  font-family: "Sans";
  src: url('../public/fonts/ColfaxAI/ColfaxAIBold.woff2');
  font-weight: 700;
}